<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>337160249455-gtall60n38mpglla1cnsvo62r2m8b39p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.337160249455-gtall60n38mpglla1cnsvo62r2m8b39p</string>
	<key>API_KEY</key>
	<string>AIzaSyBZHy8brrqytQfSA3aO01A5-JstR8zp-GU</string>
	<key>GCM_SENDER_ID</key>
	<string>337160249455</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.livechat.kombuchat</string>
	<key>PROJECT_ID</key>
	<string>heldchat</string>
	<key>STORAGE_BUCKET</key>
	<string>heldchat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:337160249455:ios:91c2951aeebc0e983e2d9a</string>
</dict>
</plist>